<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appsrise.face" >

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
>
        <activity
            android:name=".FaceActivity"
            android:allowEmbedded="true" >
            <meta-data android:name="com.google.android.clockwork.home.preview" android:resource="@drawable/preview" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.google.android.clockwork.home.category.HOME_BACKGROUND" />
            </intent-filter>
        </activity>

    </application>

</manifest>
